Repository lk-geimfari/mimesis, pull requests merged in 2018-10, with the labels that each got.

#530 Add to .gitignore Visual Studio Code trash
  .gitignore
Labels: hacktoberfest

#529 Fix pipenv with pip==18.1 bug
  .travis.yml
Labels: hacktoberfest

#533 Add deploy checks
  .travis.yml
  CONTRIBUTORS.rst
  MANIFEST
  MANIFEST.in
  Pipfile
  Pipfile.lock
Labels: hacktoberfest

#534 This fixes how choice uses random seed
  mimesis/choice.py
  tests/test_choice.py
Labels: bug, enhancement

#536 An enhancement in enums provider doctest
  mimesis/enums.py
Labels: hacktoberfest

#539 [WIP] v2.2.0
  CHANGELOG.rst
  CONTRIBUTORS.rst
  Makefile
  Pipfile
  Pipfile.lock
  mimesis/compat.py
  mimesis/data/cs/science.json
  mimesis/data/da/science.json
  mimesis/data/de/science.json
  mimesis/data/el/science.json
  mimesis/data/en/science.json
  mimesis/data/es/science.json
  mimesis/data/et/science.json
  mimesis/data/fa/science.json
  mimesis/data/fi/science.json
  mimesis/data/fr/science.json
  mimesis/data/hu/science.json
  mimesis/data/int/development.py
  mimesis/data/int/file.py
  mimesis/data/int/internet.py
  mimesis/data/is/science.json
  mimesis/data/it/science.json
  mimesis/data/ja/science.json
  mimesis/data/kk/science.json
  mimesis/data/ko/science.json
  mimesis/data/locale_template/science.json
  mimesis/data/nl/science.json
  mimesis/data/no/science.json
  mimesis/data/pl/science.json
  mimesis/data/pt/science.json
  mimesis/data/ru/science.json
  mimesis/data/sv/science.json
  mimesis/data/tr/science.json
  mimesis/data/uk/science.json
  mimesis/data/zh/science.json
  mimesis/enums.py
  mimesis/providers/address.py
  mimesis/providers/base.py
  mimesis/providers/business.py
  mimesis/providers/clothing.py
  mimesis/providers/code.py
  mimesis/providers/cryptographic.py
  mimesis/providers/date.py
  mimesis/providers/development.py
  mimesis/providers/generic.py
  mimesis/providers/internet.py
  mimesis/providers/science.py
  mimesis/providers/structure.py
  mimesis/schema.py
  mimesis/typing.py
  setup.cfg
  tests/conftest.py
  tests/test_generic.py
  tests/test_providers/test_address.py
  tests/test_providers/test_datetime.py
  tests/test_providers/test_development.py
  tests/test_providers/test_science.py
  tests/test_providers/test_structure.py
Labels: enhancement, hacktoberfest, wip

#544 Mastercard BINs range corrected
  mimesis/providers/payment.py
Labels: hacktoberfest

#545 Corrected pt_PT
  mimesis/data/pt/science.json
Labels: hacktoberfest

#550 feature: Added builtin provider for Poland.
  CHANGELOG.rst
  CONTRIBUTORS.rst
  docs/api.rst
  docs/quickstart.rst
  mimesis/builtins/pl.py
  tests/test_builtins/pl/__init__.py
  tests/test_builtins/pl/test_poland_spec.py
Labels: hacktoberfest
