Repository lk-geimfari/mimesis, pull requests merged in 2022-01, with the labels that each got.

#1160 Optimized ``Address._dd_to_dms()``.
  CHANGELOG.rst
  mimesis/providers/address.py
Labels: provider-changes

#1158 Updated to use `random.choices()` for random strings.
  CHANGELOG.rst
  mimesis/providers/payment.py
  mimesis/providers/person.py
  mimesis/random.py
Labels: provider-changes

#1154 Fix reseeding of random generator on `Generic`.
  CHANGELOG.rst
  mimesis/providers/generic.py
  tests/test_providers/test_generic.py
Labels: provider-changes

#1161 Optimized ``Development.version()``, support pre-release for CalVer.
  CHANGELOG.rst
  mimesis/providers/development.py
  tests/test_providers/test_development.py
Labels: provider-changes

#1157 Updated to use f-strings over `str.format()`.
  mimesis/builtins/da.py
  mimesis/builtins/pl.py
  mimesis/builtins/ru.py
  mimesis/providers/base.py
  mimesis/providers/date.py
  mimesis/providers/file.py
  mimesis/providers/generic.py
  mimesis/providers/hardware.py
  mimesis/providers/internet.py
  mimesis/providers/payment.py
  mimesis/providers/person.py
  mimesis/providers/transport.py
  mimesis/schema.py
  tests/test_providers/test_numeric.py
Labels: provider-changes

#1170 Fix typo in docstring for `Text.words()`.
  mimesis/providers/text.py
Labels: provider-changes

#1171 Updated to use `random.choices()` in more places.
  mimesis/providers/text.py
Labels: provider-changes

#1155 Fixed providers to use isolated `random` instance with seed of `None`.
  CHANGELOG.rst
  mimesis/providers/base.py
  tests/test_providers/test_base.py
Labels: provider-changes

#1178 Patch 1
  CONTRIBUTORS.rst
  mimesis/data/int/code.py
Labels: enhancement

#1179 Add csv/json exporters
  CHANGELOG.rst
  mimesis/enums.py
  mimesis/schema.py
  tests/test_schema.py
Labels: tests
